/*CSS_Basic_Selectors*/
/*
.Name{
    background-color: yellow;
}
.Dream{
    background-color: aliceblue;
}
#Name_again{
    background-color: black;
    color: white;
}*/
/*CSS_Border*/
/*
P{
    border-style: dotted;
}*/
/*
P{
    border-style: solid;
    border-width: 100px;
    border-color: blue;

}*/
/*
P{
    border-style: solid dotted dashed double;
    border-color: red black aqua chartreuse;
    border-width: 5px 10px 15px 20px;

}*/
/*
P{
    border: 5px dotted slateblue;
}*/
/*
p{
    border-top: 5px double green;
    border-right: 10px solid purple;
    border-bottom: black dotted 15px;
    border-left: yellowgreen 20px dotted;
}*/
/*CSS_Outline*/
/*
p{
    border: 2px solid red;
    outline: solid;
    outline: dashed;
    outline-width: 20px;
    outline-color: gray;
    outline-offset: 10px;
}*/
/*CSS_Width_&_Height*/
/*
div{
    border: 5px solid red;
    /*width: 2000px;*/
    /*width: 700px;*/
/*div{    
    width: 70%;
    height: 100%;
}*/
/*CSS_Min_Width_and_Max_Width*/
/*
div{
    border: 2px solid red;
    min-width: 300px;
    max-width: 600px;
}*/
/*CSS_Min_Height_Max_Height*/
div{
    border: 2px solid red;
    min-height: 100px;
    max-height: 200px;
}

